version: '3.9'

services:
  db:
    image: postgres:16-alpine
    container_name: hr_eval_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: hr_eval_api
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DB_HOST: db
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  db_data:
